<section class="footer">
  <div class="links-section">
    <div class="links">
      <h3>SOBRE</h3>
      <a href="/">SOBRE NÓS</a>
      <a href="/">BLOG</a>
      <a href="/">CONTATO</a>
    </div>
    <div class="links">
      <h3>LEGAL</h3>
      <a href="/">TERMOS DE SERVIÇO</a>
      <a href="/">POLÍTICA DE PRIVACIDADE</a>
      <a href="/">POLÍTICA DE COOKIES</a>
    </div>
    <div class="links">
      <h3>CONECTE-SE CONOSCO</h3>
      <a href="/">LINKEDIN</a>
      <a href="/">INSTAGRAM</a>
      <a href="/">NEWSLETTER</a>
    </div>
  </div>
  <div class="copyright">
    <p>Copyright © 2024 Allcoins.com. Todos os direitos reservados.</p>
  </div>
</section>
