.footer{
  background-color: var(--highBackground);
  display: flex;
  padding: 40px 15px;
  padding-bottom: 0;
  flex-direction: column;
  flex-wrap: wrap;
}
h3{
  color: var(--title);
}
.links-section{
  width: 100%;
  display: flex;
  justify-content: center;
}
@media (min-width: 769px) {
  .footer{
    padding-left: 50px;
    padding-right: 50px;
  }
}
.links{
  display: flex;
  width: 33.33%;
  flex-direction: column;
}

.links a{
  margin-top: 10px;
}
.copyright{
  width: 100%;
  margin-top: 30px;
}
@media (max-width:768px) {
  h3{
    font-size: 14px;
  }
  a{
    font-size: 12px;
  }
}
