<section class="depoiments">
  <h1 class="fade-animate" appFadeInOut>O QUE NOSSOS USUÁRIOS DIZEM</h1>
  <div class="depoimentsBox">
    <div class="box" *ngFor="let item of depoiments">
      <div class="image">
        <img src="{{item.img}}" alt="Image profile" width="100%">
      </div>
      <div class="text">
        <img src="/5-stars.png" alt="5 stars" width="50%" style="margin-bottom: 10px;">
        <p>{{item.text}}</p>
        <span>{{item.name}}</span>
      </div>
    </div>
  </div>
</section>
