.heroSection{
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
}
.heroSection video{
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
  opacity: 0.4;
  background: url('/main-photo.svg') center no-repeat;
  background-size: cover;
}
.main-texts{
  padding-top: 260px;
  z-index: 2;
  text-align: center;
  font-weight: bold;
  opacity: 0;
}
.main-texts p{
  margin-top: 30px;
}
.main-texts h1{
  font-size: 40px;
}
@media (min-width: 1140px) {
  .main-texts h1{
    font-size: 54px;
  }
}
@media(max-width: 768px){
  .main-texts{
    padding: 0 20px;
    padding-top: 300px;
  }
}

.btn-primary{
  margin-top: 50px;
  font-size: 30px;
  padding: 5px 30px;
}
